captum==0.7.0
h5py==3.12.1
lifelines==0.30.0
matplotlib==3.9.2
numpy==2.0.2
opencv-python==4.10.0.84
openslide-python==1.4.1
pandas==2.2.3
pillow==11.0.0
scikit-learn==1.5.2
scikit-survival==0.23.1
scipy==1.14.1
shap==0.46.0
tensorboardX==2.6.2.2
tensorflow==2.18.0
torch==2.5.1
torch-geometric==2.6.1
torchaudio==2.5.1
torchvision==0.20.1
